@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (!Helper.SessionHelper.ExistUserInSession())
{
    @section scripts{
        <script>
            console.log("holasss");
            window.location.href = '@Url.Action("Index", "Login")';
        </script>
    }
}
<p>Use this area to provide additional information.</p>
